* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.login-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #1f2933;
  padding: 40px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.brand {
  text-align: center;
  color: #fbbf24;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: #cbd5e1;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #111827;
  color: #fff;
}

.input-group input::placeholder {
  color: #9ca3af;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #f59e0b;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  margin-top: 10px;
}

.login-btn:hover {
  background: #fb7624;
}

.footer-text {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #cbd5e1;
}

.footer-text span {
  color:  #cbd5e1;
  cursor: pointer;
}
