/* =========================
   NAVBAR
========================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  background: #111827;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10000;
}

/* TITLE */
.navbar-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  pointer-events: none;
}

.cart-icon {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

