body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
   margin: 0;
  padding-top: 50px; /* navbar height */
}


.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 15px;
  width: 220px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
